html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  height: 100%;
  background-image: url("image/bg_main.png");
  background-color: #eae3de;
}

.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 1000px;
  min-height: 500px;
}

.content_wrapper1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #4d5652;
}

.logo_image1 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.li_content {
  list-style-type: none;
  color: white;
}

.li_span {
  display: inline-block;
  border-radius: 6px;
  padding: 5px;
  font-family: monospace;
  font-size: 16px;
  cursor: pointer;
}

li:hover .li_span {
  background-color: black;
}

li.active {
  background: url("image/bg_menu_act.gif") no-repeat right;
  background-color: #949ba8;
  border-radius: 6px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 25px;
  height: 30px;
  font-size: 10px;
  font-family: serif;
  color: white;
}

.footer_span {
  color: #eaa912;
}

.content_wrapper2 {
  display: block;
  /*margin-left: 280px;*/
  width: 500px;
  height: 700px;
  margin: auto;
}

.welcome {
  font-family: monospace;
  font-weight: 400;
  font-size: 70px;
  margin-bottom: 0;
  white-space: nowrap;
  letter-spacing: 10px;
}

.para1 {
  margin-top: 0;
  font-family: FreeMono;
  font-size: 25px;
  margin-bottom: 25px;
}

.span_data {
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  border-bottom: 3px solid #eaa912;
  border-top: 3px solid #eaa912;
  padding: 10px;
}

.para2 {
  font-size: 13px;
  font-family: sans-serif;
  margin-top: 25px;
}

.cardWrapper {
  height: 100%;
}

.textStyle {

}

/*.headingText {*/
  /*height: 50px;*/
  /*background: black;*/
  /*margin: 20px 0;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*position: relative;*/
/*}*/

/*.previousCard {*/
  /*!*animation: normalColor ease-in 350ms;*!*/
/*}*/

/*.currentCard {*/
  /*background: white;*/
  /*!*animation: activeCard ease-in 350ms;*!*/
/*}*/

/*@keyframes activeCard {*/
  /*0% {*/
    /*background: black;*/
  /*}*/

  /*80% {*/
    /*background: white;*/
  /*}*/

  /*100% {*/
    /*background: black;*/
  /*}*/
/*}*/

/*@keyframes normalColor {*/
  /*from {*/
    /*background: white;*/
  /*}*/
  /*to {*/
    /*background: black;*/
  /*}*/
/*}*/




.headingText {
  height: 50px;
  background: black;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background 500ms linear;
}

.headingText:hover {
  cursor: pointer;
}

.previousCard {

}

.currentCard {
  background: white;
}
