body {
	min-width: 1100px;
	min-height: 500px;
	position: relative;
	margin: 0;
}
.wrapper {
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.content_wrapper1 {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 654px;
    background-color: #4d5652;
}
.logo_image1 {
	margin-top: 25px;
	margin-bottom: 25px;
}
.li_content {
	list-style-type: none;
    color: white;
}
.li_span {
	display: inline-block;
	border-radius: 6px;
	padding: 5px;
	font-family: monospace;
    font-size: 16px;
    cursor: pointer;
}
li:hover .li_span {
	background-color: black;
}
li.active {
	/* background: url("image/bg_menu_act.gif") no-repeat right; */
	border-radius: 6px;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 25px;
    height: 30px;
	font-size: 10px;
    font-family: serif;
    color: white;
}
.footer_span {
	color: #eaa912;
}

.content_wrapper2 {
    /* height: 100%; */
    display: block;
    margin-left: 280px;
    /* max-width: 800px;
    overflow: auto; */
    /* min-width: 800px; */ 
    /* width: 800px;
    width: calc(100% - 290px); */
}
.welcome {
	font-family: monospace;
    font-weight: 400;
    font-size: 70px;
    margin-bottom: 0;
    letter-spacing: 10px;
}
.para1 {
	margin-top: 0;
    font-family: FreeMono;
    font-size: 25px;
    margin-bottom: 25px;
}
.span_data {
	font-size: 25px;
    font-style: bol;
    font-weight: bold;
    font-family: monospace;
    border-bottom: 3px solid #eaa912;
    border-top: soli;
    border-top: 3px solid #eaa912;
    padding: 10px;
}
.para2 {
	font-size: 13px;
    font-family: sans-serif;
    margin-top: 25px;
}
