.icons_wrapper {    
    background-color: #61666d;
    width: 50px;
    padding-top: 80px;
    float: left;
    height: 100%;
    overflow: hidden;
}
.btn-log {
    padding: 7px;
    font-size: 17px;
    line-height: 0.333333;
    border-radius: 17px;
    margin-left: 5px;
    margin-bottom: 30px;
}