body{
	background-color: #f0efe9;
	font-family: Roboto;
}
.outer_wrapper {
	margin: 0 auto;
	width: 300px;
	height: 600px;
	background-color: #ffffff;
	color: #5d606f;
}
.heading {
	text-align: center;
	padding-top: 10px;
	margin: 0;
	padding-left: 10px;
	color: #5d606f;
	display: inline-block;
}
.heading_div {
	position: fixed;
    background-color: #ffffff;
    width: 300px;
}
.button_style {
	float: right;
	font-weight: bold;
	padding: 5px;
	margin: 10px;
	color: #ccc;
	background: #525949;
	border: 0 none;
	border-radius: 8px;
	text-shadow: 1px 1px 2px black;
	box-shadow: 3px 3px 3px #aab2a0;
	cursor: pointer;
}
.new_div {
	position: relative;
    top: 50px;
    height: 550px;
    overflow: auto;
}
.remove_Button {
	background-color: #50e3a4;
    font-weight: bolder;
}
.list_style {
	margin: 0;
	padding: 0;
}
.li_style {
	margin: 0;
	list-style-type: none;
}

.label_style {
	position: relative;
}
.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  width: 15px;
  display: block;
}

.round label:after {
	border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    left: 3px;
    position: absolute;
    top: 4px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 8px;
}

.round input[type="checkbox"] {
  display: none;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

td {
	vertical-align: middle;
	padding: 5px;
}
.content_inside {
	padding: 5px;
	width: 220px;
	overflow: hidden;
	word-break: break-all;

}
.hidden_text_box {
    padding-left: 5px;
    margin-left: 40px;
}
.add_text_button {
	margin-left: 4px;	
}